.bg-container {
  background-color: #ffffff;
  height: 100vh;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-container {
  background-color: #ffffff;
  width: 500px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.logo-edit {
  width: 200px;
}
.search-line {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}
.search{
    width:300px;
    border:0px;
}